<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Products {% block title %}{% endblock title %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo2.png' %}" height="50px" width="70px" class="rounded-pill img-fluid opacity-50 " id="transparent-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'category' 'pm' %}">Pomegrants</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'mg' %}">Mango</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'gr' %}">Grapes</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'or' %}">Orange</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'dt' %}">Dates</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'ap' %}">Apple</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about' %}">About Us</a>
        </li>
       <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Search</button>
      </form>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{request.user}}
          </a>
      <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="#">Orders</a></li>
            <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>


          </ul>
      <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#">Cart</a>
        </li>
      <li class="nav-item mx-2">
          <a class="nav-link text-white" href="#">Wishlist</a>
        </li>
      {% else %}
      <li class="nav-item mx-2">
          <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
        </li>
      <li class="nav-item mx-2">
          <a class="nav-link text-white" href="{% url 'customerregistration' %}">Registration</a>
        </li>
        {% endif %}

    </ul>
  </div>
</nav>
{% block banner-slider %} {% endblock banner-slider %}
{% block information %}

{% endblock information %}

{% block main-content %} {% endblock main-content %}

<footer class="container-fluid fixed-bottom bg-success text-center p-2 mt-5 text-warning">
    Copyright : 2023 || Develop by waqar ahmad
</footer>


<script src="  https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/myscript.js' %}"></script>
</body>
</html>